<h1 class="first-heading__title">Register</h1>

<form [formGroup]="registerForm" (ngSubmit)="register()" class="form-container register-form">
    <mat-form-field appearance="fill" class="form-field__container">
        <mat-icon matPrefix>person</mat-icon>
        <mat-label>First Name</mat-label>
        <input matInput class="input--primary" formControlName="firstname" required (blur)="formControls.firstname.invalid" />
        @if (formControls.firstname.invalid) {
        <mat-error class="error">{{ messages.firstNameHelpText }}</mat-error>
        }
    </mat-form-field>

    <mat-form-field appearance="fill" class="form-field__container">
        <mat-icon matPrefix>person</mat-icon>
        <mat-label>Last Name</mat-label>
        <input matInput formControlName="lastname" required (blur)="formControls.lastname.invalid" />
        @if (formControls.lastname.invalid) {
        <mat-error>{{ messages.lastNameHelpText }}</mat-error>
        }
    </mat-form-field>

    <mat-form-field appearance="fill" class="form-field__container">
        <mat-icon matPrefix>email</mat-icon>
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" required (blur)="formControls.email.invalid" />
        @if (formControls.email.invalid) {
        <mat-error>{{ messages.emailHelpText }}</mat-error>
        }
    </mat-form-field>

    <mat-form-field appearance="fill" class="form-field__container">
        <mat-icon matPrefix>account_circle</mat-icon>
        <mat-label>Username</mat-label>
        <input matInput formControlName="username" required (blur)="formControls.username.invalid" />
        @if (formControls.username.invalid) {
        <mat-error>{{ messages.usernameHelpText }}</mat-error>
        }
    </mat-form-field>

    <mat-form-field appearance="fill" class="form-field__container">
        <mat-icon matPrefix>lock</mat-icon>
        <mat-label>Password</mat-label>
        <input matInput [type]="hidePassword() ? 'password' : 'text'" formControlName="password" required (blur)="formControls.password.invalid" />
        <button mat-icon-button matSuffix (click)="togglePasswordVisibility($event)" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword()">
        <mat-icon>{{hidePassword() ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        @if (formControls.password.invalid) {
        <mat-error>{{ messages.passwordHelpText }}</mat-error>
        }
    </mat-form-field>

    <mat-form-field appearance="fill" class="form-field__container">
        <mat-icon matPrefix>lock</mat-icon>
        <mat-label>Confirm Password</mat-label>
        <input matInput [type]="hideConfirmPassword() ? 'password' : 'text'" formControlName="confirmPassword" required (blur)="!formState().passwordsMatch" />
        <button mat-icon-button matSuffix (click)="toggleConfirmPasswordVisibility($event)" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideConfirmPassword()">
        <mat-icon>{{hideConfirmPassword() ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        @if (formControls.confirmPassword.invalid || registerForm.get('confirmPassword')?.hasError('notEqual')) {
        <mat-error>{{ messages.confirmPasswordHelpText }}</mat-error>
        }
    </mat-form-field>

    <div class="form-field__container">
        <button type="submit" class="button--primary" [disabled]="registerForm.invalid || formState().isLoading">
            Register
        </button>
    </div>
    <div>
      <p class="form-footer__paragraph">
        <a class="form-footer__link" [routerLink]="authUrls.login">
          <ng-container>Do you have an account? Log in</ng-container>
        </a>
      </p>
    </div>
</form>
