<h1 class="first-heading__title">Authentication App</h1>

<p class="text--medium">
This project is a modern, real-world application designed as an authentication frontend for being 
used as a boilerplate to build production-ready application.
</p>

  <p >
    It comes with features like internationalization, standalone components, a more logical folder
    structure, etc, making it a great starting point for building scalable Angular apps.
  </p>

  <p >
    Whether you’re looking for a boilerplate or a solid base project, this setup is designed to help
    you create clean, maintainable code with ease.
  </p>

  <p>
    This project leverages the <b>PokeAPI</b> to provide fun and practical examples, making it
    easier to understand key concepts in Angular development. By using data from the Pokémon
    universe, it offers a familiar and engaging way to showcase features like fetching data,
    handling API calls, and displaying dynamic content.
  </p>
