@use 'base/media-queries' as mq;

@mixin forms() {

    .form-container {
        padding: var(--spacing-r-5xl) var(--spacing-r-xl);
        margin: 0 auto;
        border: 1px solid var(--senary-contrast);

        @include mq.for-tablet-up {
            padding: var(--spacing-r-6xl) var(--spacing-r-xl);
        }

        .mat-icon {
            color: var(--page-color);
        }

        mat-error {
            text-align: left;
            margin-top: var(--spacing-r-sm);
            color: red;
            font-size: var(--font-size-xs);
        }

        .form-field__container {
            margin-block: var(--spacing-r-3xl);
            font-family: var(--inter-font);
            font-size: var(--font-size-md);
            width: 100%;


            .button--primary {
                margin-block-start: var(--spacing-r-md);
                margin-right: var(spacing-r-md);
            }

            &:first-of-type {
                margin-block-start: 0;
            }

            @include mq.for-tablet-up {
                margin-block: var(--spacing-r-3xl);
            }
        }

        .form-footer__paragraph {
            margin: 0;

            .form-footer__link {
                font-size: var(--font-size-sm);
            }
        }
    }    
}
